// Greys
$grey: #3a4750;
$grey-2: #21252D;
$grey-3: #303841;
// Colors
$white-2: #eeeeee;
$blue: #0088a4;
$pink: #ed0c6e;
$purple: #432C51;
$red: #d72323;
$green: #1abc9c;

//fonts
$font-1: 'Open Sans', sans-serif;
$font-2: 'Archivo Black', sans-serif;
$font-3: 'Roboto', sans-serif;
